* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body,
section,
article,
a,
p,
h1,
h2,
h3,
h4,
ul,
li,
ol {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style-type: none;
}

input,
button,
textarea {
  font: inherit;
}

button {
  cursor: pointer;
}

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Regular.woff) format("woff"), url(../fonts/Montserrat-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Light.woff) format("woff"), url(../fonts/Montserrat-Light.woff2) format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Bold.woff) format("woff"), url(../fonts/Montserrat-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "kaushan-script";
  src: url(../fonts/kaushan-script.woff) format("woff"), url(../fonts/kaushan-script.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Regular.woff) format("woff"), url(../fonts/Roboto-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-LightItalic.woff) format("woff"), url(../fonts/Roboto-LightItalic.woff2) format("woff2");
  font-weight: 300;
  font-style: italic;
}

.container {
  max-width: 1920px;
  padding: 0 15px;
  margin: 0 auto;
}

body {
  font-family: "Montserrat";
  font-weight: 400;
}

html,
body {
  height: 100%;
}

p {
  font-family: "Roboto";
}

section {
  position: relative;
  z-index: 1;
}

.not-overflow {
  overflow: hidden;
}

.btn {
  display: block;
  padding: 1rem 1rem;
}

.hidden {
  display: none;
}

.wraper {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sup-title {
  font-family: "kaushan-script";
  font-weight: 400;
  color: #000;
  text-align: center;
  padding: 0 15px;
  font-size: 24px;
  opacity: 0;
  -webkit-transition: all 0.5s ease 0.4s;
  -o-transition: all 0.5s ease 0.4s;
  transition: all 0.5s ease 0.4s;
  -webkit-transform: translateY(-120%);
      -ms-transform: translateY(-120%);
          transform: translateY(-120%);
}

.sup-title._active {
  opacity: 1;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.title {
  font-weight: 700;
  color: #000;
  text-transform: uppercase;
  padding: 0 15px;
  padding-bottom: 2rem;
  font-size: 30px;
  font-size: calc(25px + 5 * ((100vw - 320px) / 1600));
  position: relative;
  width: 60%;
  text-align: center;
  opacity: 0;
  -webkit-transform: translateY(120%);
      -ms-transform: translateY(120%);
          transform: translateY(120%);
  -webkit-transition: all .5s ease 0s;
  -o-transition: all .5s ease 0s;
  transition: all .5s ease 0s;
}

.title._active {
  opacity: 1;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 45%;
  width: 10%;
  height: 3px;
  background-color: #f38181;
}

.sub-title {
  font-size: 15px;
  color: #999999;
  text-align: center;
  font-family: "Roboto";
  opacity: 0;
  -webkit-transition: all .6s ease 0.6s;
  -o-transition: all .6s ease 0.6s;
  transition: all .6s ease 0.6s;
}

.sub-title._active {
  opacity: 1;
}

.main-header__wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 100vh;
  background: url(../img/header/bg.jpg) center/cover no-repeat;
  padding-top: 100px;
  padding-bottom: 20px;
  position: fixed;
  z-index: 0;
}

.main-header__wrapper::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(252, 227, 138, 0.9)), to(rgba(243, 129, 129, 0.9)));
  background: -o-linear-gradient(bottom, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%);
  background: linear-gradient(0deg, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%);
}

.main-header__header {
  position: fixed;
  padding: 24px 0;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 20;
}

.main-header__header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main-header__header._nav-activ {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(252, 227, 138, 0.9)), to(rgba(243, 129, 129, 0.9)));
  background: -o-linear-gradient(bottom, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%);
  background: linear-gradient(0deg, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%);
}

.main-header__logo-colums {
  height: 25px;
  width: 90px;
  overflow: hidden;
  position: relative;
  z-index: 4;
}

.main-header__logo {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.main-header__burger {
  display: none;
  z-index: 10;
  cursor: pointer;
}

.main-header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

.main-header__item {
  padding: 0 9%;
}

.main-header__link {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  padding: .5rem 0;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.main-header__link:hover,
.main-header__link:focus {
  color: #fce38a;
}

.main-header__link:active {
  color: #fce38a;
  border-bottom: 3px solid #fce38a;
}

.main-header__link--active {
  color: #fce38a;
  border-bottom: 3px solid #fce38a;
}

.main-header__link i {
  color: #fff;
  font-size: 14px;
}

.main-header__link i:hover,
.main-header__link i:focus {
  color: #fce38a;
}

.main-header__body {
  position: relative;
  z-index: 10;
  width: 100%;
  -ms-flex-item-align: center;
      align-self: center;
}

.main-header__sup-title {
  margin: 0 auto;
  margin-bottom: 1rem;
  color: #fff;
  font-size: calc(25px + 27 * ((100vw - 320px) / 1600));
}

.main-header__title {
  font-size: calc(40px + 60 * ((100vw - 320px) / 1600));
  margin: 0 auto;
  color: #fff;
  margin-bottom: 2rem;
}

.main-header__title::after {
  background-color: #fff;
}

.main-header__button {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  border: 3px solid #fff;
  width: 15%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 3rem;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

.main-header__button:hover,
.main-header__button:focus {
  background-color: #e98582;
  border: 3px solid #e98582;
}

.main-header__footer {
  width: 100%;
  -ms-flex-item-align: end;
      align-self: flex-end;
  position: relative;
  z-index: 1;
}

.main-header__progres-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
}

.main-header__progres-item {
  width: 23%;
}

.main-header__progres-line {
  width: 100%;
  height: 3px;
  background-color: #fff;
  margin-bottom: 10%;
}

.main-header__progres-line--1 {
  width: 15%;
  height: 100%;
  background-color: #f38181;
}

.main-header__progres-hint {
  color: #fff;
  font-size: calc(15px + 5 * ((100vw - 320px) / 1600));
  text-transform: uppercase;
}

.main-header__progres-hint span {
  font-weight: 700;
  font-size: calc(17px + 5 * ((100vw - 320px) / 1600));
}

.about {
  margin-top: 100vh;
  background-color: #fff;
  position: relative;
  z-index: 1;
}

.about__body {
  padding: 5% 0;
}

.about__sup-title {
  margin-bottom: 1.5rem;
}

.about__title {
  margin: 0 auto 2rem;
  font-size: calc(25px + 5 * ((100vw - 320px) / 1600));
}

.about__sub-title {
  margin-bottom: 6rem;
}

.about__card-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__card-list > li {
  width: 32%;
  position: relative;
  background-color: #95e1d3;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
  opacity: 0;
}

.about__card-list > li._active {
  opacity: 1;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.about__card-list > li:nth-child(1) {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  -webkit-transform: translateX(-120%);
      -ms-transform: translateX(-120%);
          transform: translateX(-120%);
  opacity: 0;
}

.about__card-list > li:nth-child(1)._active {
  opacity: 1;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

.about__card-list > li:nth-child(3) {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  -webkit-transform: translateX(120%);
      -ms-transform: translateX(120%);
          transform: translateX(120%);
  opacity: 0;
}

.about__card-list > li:nth-child(3)._active {
  opacity: 1;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

.about__card-link {
  display: block;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

.about__card-link span {
  display: inline-block;
  text-align: center;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 1.5rem;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
}

.about__card-link span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 32px;
  height: 25px;
  background-image: url(../img/about/icon.png);
  background-repeat: no-repeat;
  background-position: center;
}

.about__card-link:hover,
.about__card-link:focus {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(252, 227, 138, 0.9)), to(rgba(243, 129, 129, 0.9)));
  background: -o-linear-gradient(bottom, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%);
  background: linear-gradient(0deg, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%);
  -webkit-transform: translate(-3%, -3%);
      -ms-transform: translate(-3%, -3%);
          transform: translate(-3%, -3%);
}

.about__card-link:hover + .about__card-img-colums,
.about__card-link:focus + .about__card-img-colums {
  -webkit-transform: translate(-3%, -3%);
      -ms-transform: translate(-3%, -3%);
          transform: translate(-3%, -3%);
}

.about__card-link:hover span,
.about__card-link:focus span {
  opacity: 1;
}

.about__card-img-colums {
  width: 100%;
  padding-bottom: 68%;
  overflow: hidden;
  position: relative;
  background-color: #95e1d3;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

.about__card-img {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.about__footer {
  background-color: #95e1d3;
  padding: 4% 0;
}

.about__statistic-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transform: translateY(120%);
      -ms-transform: translateY(120%);
          transform: translateY(120%);
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
  opacity: 0;
}

.about__statistic-list._active {
  opacity: 1;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.about__statistic-list > li {
  width: 20%;
}

.about__statistic-list-text {
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-family: "Montserrat";
  font-size: calc(8px + 6 * ((100vw - 320px) / 1600));
}

.about__statistic-list-text span {
  font-weight: 700;
  font-size: calc(30px + 42 * ((100vw - 320px) / 1600));
}

.services {
  padding: 4% 0;
  background-color: #fff;
}

.services__sup-title {
  margin-bottom: 1rem;
}

.services__title {
  margin: 0 auto 4rem;
}

.services__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr .5fr 1fr;
  row-gap: 30%;
  -webkit-column-gap: 2%;
     -moz-column-gap: 2%;
          column-gap: 2%;
  position: relative;
}

.services__list::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  top: 45%;
  -webkit-transform: translate(0%, -50%);
      -ms-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  background-color: #e5e5e5;
}

.services__list > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
  -webkit-transition: all .5s ease 0s;
  -o-transition: all .5s ease 0s;
  transition: all .5s ease 0s;
}

.services__list > li:nth-child(1),
.services__list > li:nth-child(4) {
  -webkit-transform: translateX(-150%);
      -ms-transform: translateX(-150%);
          transform: translateX(-150%);
}

.services__list > li:nth-child(3),
.services__list > li:nth-child(6) {
  -webkit-transform: translateX(150%);
      -ms-transform: translateX(150%);
          transform: translateX(150%);
}

.services__list > li:nth-child(2) {
  -webkit-transform: translateY(-150%);
      -ms-transform: translateY(-150%);
          transform: translateY(-150%);
}

.services__list > li:nth-child(5) {
  -webkit-transform: translateY(-80%);
      -ms-transform: translateY(-80%);
          transform: translateY(-80%);
}

.services__list > li._active {
  opacity: 1;
}

.services__list > li._active:nth-child(1n) {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.services__header {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
}

.services__img-colum {
  width: 50%;
  margin: 0 auto;
  padding-bottom: 50%;
  overflow: hidden;
  position: relative;
}

.services__img {
  width: 100%;
  height: 100%;
  position: absolute;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.services__item-title {
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.services__item-text {
  color: #999999;
  font-size: 15px;
}

.desing {
  padding-top: 5%;
  background-color: #d7d7d7;
  background-image: url(../img/desing/bg.jpg);
}

.desing__sup-title {
  color: #333333;
  margin-bottom: 1rem;
}

.desing__title {
  margin: 0 auto 3rem;
  color: #333333;
}

.desing__img-wripper {
  position: relative;
}

.desing__img-column {
  width: 45%;
  padding-bottom: 53%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  opacity: 0;
  -webkit-transition: all .5s ease 0.5s;
  -o-transition: all .5s ease 0.5s;
  transition: all .5s ease 0.5s;
}

.desing__img-column._active {
  opacity: 1;
}

.desing__img-column--tel {
  opacity: 0;
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: all .5s ease 0.5s;
  -o-transition: all .5s ease 0.5s;
  transition: all .5s ease 0.5s;
  position: absolute;
  width: 20%;
  padding-bottom: 40%;
  overflow: hidden;
  z-index: 1;
  bottom: -11%;
  right: 16%;
}

.desing__img-column--tel._active {
  opacity: 1;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

.desing__img {
  width: 100%;
  height: 100%;
  position: absolute;
  -o-object-fit: fill;
     object-fit: fill;
  -o-object-position: center top;
     object-position: center top;
}

.desing__img--tel {
  width: 100%;
  height: 100%;
  position: absolute;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center bottom;
     object-position: center bottom;
}

.we-do {
  padding-top: 5%;
  background-color: #fff;
}

.we-do__sup-title {
  margin-bottom: 1rem;
}

.we-do__title {
  margin: 0 auto 3rem;
}

.we-do__sab-title {
  margin-bottom: 8%;
}

.we-do__spoller-wripper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10%;
}

.we-do__spoller-img-colums {
  width: 49%;
  padding-bottom: 28.35%;
  position: relative;
}

.we-do__spoller-img {
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
}

.we-do__spoller-img--active {
  display: inline;
}

.we-do__spoller-list {
  width: 49%;
}

.we-do__spoller-item {
  margin-bottom: 2%;
}

.we-do__spoller-item:last-child {
  margin-bottom: 0;
}

.we-do__item-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #e5e5e5;
  padding: 2% 3%;
}

.we-do__item-header:hover > .we-do__item-button,
.we-do__item-header:focus > .we-do__item-button {
  background-image: url(../img/wedo/ARROW_DOWN-hover.png);
}

.we-do__item-header--active > .we-do__item-button {
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
}

.we-do__item-header--active + .we-do__item-body {
  display: block;
}

.we-do__item-img-colums {
  margin-right: 2%;
  width: 30px;
  height: 30px;
  position: relative;
}

.we-do__item-img {
  width: 100%;
  height: 100%;
  position: absolute;
}

.we-do__item-title {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

.we-do__item-button {
  margin-left: auto;
  display: block;
  width: 30px;
  height: 30px;
  border: 0;
  background-color: transparent;
  background-image: url(../img/wedo/ARROW_DOWN.png);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  outline: none;
}

.we-do__item-body {
  display: none;
  padding: 2% 3%;
  border: 1px solid #e5e5e5;
  border-top: 0;
  height: 135px;
  position: relative;
  overflow: auto;
}

.we-do__item-text {
  font-size: 15px;
  font-weight: 300;
  font-style: italic;
  color: #999999;
}

.comments {
  background-color: #f8f8f8;
  padding: 4% 0;
}

.comments__slider {
  padding: 0 8%;
}

.comments__slider-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.comments__card-header {
  width: 15%;
  padding: 4%;
  border: 2px solid #95e1d3;
  margin-right: 2%;
}

.comments__card-img-colums {
  width: 100%;
  padding-bottom: 100%;
  position: relative;
  overflow: hidden;
}

.comments__card-img {
  width: 100%;
  height: 100%;
  position: absolute;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.comments__card-body {
  width: 100%;
}

.comments__card-text {
  font-size: calc(16px + 8 * ((100vw - 320px) / 1600));
  padding: 0 20px;
  margin-bottom: 1rem;
  font-weight: 300;
  font-style: italic;
  color: #999;
}

.comments__card-autor {
  padding: 0 20px;
  font-family: "kaushan-script";
  font-size: calc(14px + 10 * ((100vw - 320px) / 1600));
  position: relative;
  padding-left: 90px;
}

.comments__card-autor::before {
  content: "";
  display: inline-block;
  width: 60px;
  height: 3px;
  background-color: #f38181;
  margin-right: 10px;
  -webkit-transform: scaleY(50%);
      -ms-transform: scaleY(50%);
          transform: scaleY(50%);
  position: absolute;
  top: 50%;
  left: 20px;
}

.comments .slick-slider {
  position: relative;
}

.comments .slick-list {
  width: 100%;
  overflow: hidden;
}

.comments .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  outline: none;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.comments .slick-slide {
  outline: none;
}

.comments .slick-arrow {
  position: absolute;
  font-size: 0;
  border: 0;
  width: 4%;
  height: 100%;
  background-color: transparent;
  background-image: url(../img/wedo/ARROW_SLIDER.png);
  background-position: center;
  background-repeat: no-repeat;
  outline: none;
}

.comments .slick-arrow.slick-prev {
  top: 0;
  left: 0;
  background-image: url(../img/wedo/ARROW_SLIDER.png);
}

.comments .slick-arrow.slick-next {
  top: 0%;
  right: 0;
  background-image: url(../img/wedo/ARROW_SLIDER--next.png);
}

.team {
  background-color: #fff;
}

.team__main {
  padding: 4% 0;
}

.team__sup-title {
  margin-bottom: 1rem;
}

.team__title {
  margin: 0 auto;
  margin-bottom: 3rem;
}

.team__sub-title {
  margin-bottom: 6%;
}

.team__card-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.team__card-list > li {
  opacity: 0;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
  width: 32%;
}

.team__card-list > li:first-child {
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
}

.team__card-list > li:nth-child(3) {
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
}

.team__card-list > li._active {
  opacity: 1;
}

.team__card-list > li._active:nth-child(1n) {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

.team__card-header {
  position: relative;
  background-color: #95e1d3;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

.team__card-header:hover .team__card-link,
.team__card-header:focus .team__card-link {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(252, 227, 138, 0.9)), to(rgba(243, 129, 129, 0.9)));
  background: -o-linear-gradient(bottom, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%);
  background: linear-gradient(0deg, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%);
  -webkit-transform: translate(-3%, -3%);
      -ms-transform: translate(-3%, -3%);
          transform: translate(-3%, -3%);
}

.team__card-header:hover .team__card-link .team__card-social-list,
.team__card-header:focus .team__card-link .team__card-social-list {
  opacity: 1;
}

.team__card-header:hover .team__card-img-colums,
.team__card-header:focus .team__card-img-colums {
  -webkit-transform: translate(-3%, -3%);
      -ms-transform: translate(-3%, -3%);
          transform: translate(-3%, -3%);
}

.team__card-header:hover .team__card-social-list,
.team__card-header:focus .team__card-social-list {
  -webkit-transform: translate(-56%, -90%);
      -ms-transform: translate(-56%, -90%);
          transform: translate(-56%, -90%);
  opacity: 1;
}

.team__card-link {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

.team__card-social-list {
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  z-index: 20;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

.team__card-social-link {
  display: block;
  width: 55px;
  height: 55px;
  background-color: #fce38a;
}

.team__card-social-link:hover,
.team__card-social-link:focus {
  background-color: #f38181;
}

.team__card-social-link--f {
  background-image: url(../img/team/facebook.png);
  background-position: center;
  background-repeat: no-repeat;
}

.team__card-social-link--f:hover,
.team__card-social-link--f:focus {
  background-image: url(../img/team/facebook-hover.png);
}

.team__card-social-link--t {
  background-image: url(../img/team/twitter.png);
  background-position: center;
  background-repeat: no-repeat;
}

.team__card-social-link--t:hover,
.team__card-social-link--t:focus {
  background-image: url(../img/team/twitter-hover.png);
}

.team__card-social-link--p {
  background-image: url(../img/team/pinterest.png);
  background-position: center;
  background-repeat: no-repeat;
}

.team__card-social-link--p:hover,
.team__card-social-link--p:focus {
  background-image: url(../img/team/pinterest-hover.png);
}

.team__card-social-link--i {
  background-image: url(../img/team/instagram.png);
  background-position: center;
  background-repeat: no-repeat;
}

.team__card-social-link--i:hover,
.team__card-social-link--i:focus {
  background-image: url(../img/team/instagram-hover.png);
}

.team__card-img-colums {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-bottom: 125%;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

.team__card-img {
  width: 100%;
  height: 100%;
  position: absolute;
}

.team__card-body {
  padding-top: 7%;
}

.team__card-name {
  padding: 0 15px;
  margin-bottom: 1rem;
  text-align: center;
  text-transform: uppercase;
  font-family: "Montserrat";
  font-size: 14px;
}

.team__card-worker {
  padding: 0 15px;
  text-align: center;
  font-size: 15px;
  font-weight: 300;
  font-style: italic;
  color: #999999;
}

.partnes {
  background-color: #f8f8f8;
  padding: 4% 0;
}

.partnes__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15px;
  opacity: 0;
  -webkit-transform: translateY(50%);
      -ms-transform: translateY(50%);
          transform: translateY(50%);
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

.partnes__list._active {
  opacity: 1;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.partnes__item {
  position: relative;
  width: 10%;
}

.partnes__link {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.5);
}

.partnes__link:hover,
.partnes__link:focus {
  background-color: transparent;
}

.partnes__img-column {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
}

.partnes__img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: contain;
     object-fit: contain;
}

.work {
  padding: 5% 0;
  background-color: #fff;
}

.work__sup-title {
  margin-bottom: 1rem;
}

.work__title {
  margin: 0 auto 3rem;
}

.work__sub-title {
  margin-bottom: 5%;
}

.work__gallery-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  padding-bottom: 5%;
  opacity: 0;
  -webkit-transition: all 1.5s ease 0s;
  -o-transition: all 1.5s ease 0s;
  transition: all 1.5s ease 0s;
}

.work__gallery-list._active {
  opacity: 1;
}

.work__gallery-item {
  position: relative;
}

.work__gallery-item--2xrow {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}

.work__gallery-link {
  display: block;
  position: absolute;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(252, 227, 138, 0.9)), to(rgba(243, 129, 129, 0.9)));
  background: -o-linear-gradient(bottom, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%);
  background: linear-gradient(0deg, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%);
}

.work__gallery-link:hover,
.work__gallery-link:focus {
  opacity: 1;
}

.work__gallery-link:hover .work__gallery-text,
.work__gallery-link:focus .work__gallery-text {
  opacity: 1;
}

.work__gallery-text {
  position: relative;
  top: 50%;
  left: 0%;
  width: 60%;
  margin: 0 auto;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  opacity: 0;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

.work__gallery-icon-colums {
  width: 30px;
  height: 30px;
  margin: 0 auto .6rem;
  position: relative;
}

.work__gallery-icon {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.work__gallery-title {
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: .4rem;
  font-size: 14px;
  font-family: "Montserrat";
}

.work__gallery-sub-title {
  text-align: center;
  font-weight: 300;
  font-style: italic;
  color: #fff;
}

.work__gallery-img-colums {
  width: 100%;
  padding-bottom: 80%;
  position: relative;
  overflow: hidden;
}

.work__gallery-img-colums--2xrow {
  padding-bottom: 160%;
}

.work__gallery-img {
  position: absolute;
  width: 100%;
  height: 100%;
}

.work__comments {
  background-color: transparent;
}

.comments__card-header--work {
  padding: 0;
  border: 0;
}

.comments__card-img-colums--work {
  border-radius: 50%;
}

.comments__card-img-colums--work img {
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
}

.people {
  background-color: #fff;
  background-image: url(../img/people/bg.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.people__wrapper {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 7% 0;
}

.people__sup-title {
  margin-bottom: 1rem;
}

.people__title {
  margin: 0 auto 3rem;
}

.people__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: -5%;
}

.people__item {
  width: 47%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5%;
  opacity: 0;
  -webkit-transition: all .8s ease 0s;
  -o-transition: all .8s ease 0s;
  transition: all .8s ease 0s;
}

.people__item:nth-child(2n+1) {
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
}

.people__item:nth-child(2n) {
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
}

.people__item._active {
  opacity: 1;
}

.people__item._active:nth-child(1n) {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

.people__item-header {
  margin-right: 4%;
  width: 40%;
}

.people__item-img-colums {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-bottom: 100%;
  border-radius: 50%;
}

.people__img {
  width: 100%;
  height: 100%;
  position: absolute;
}

.people__item-name {
  font-family: "Montserrat";
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: .5rem;
}

.people__item-worker {
  font-size: 15px;
  font-weight: 300;
  font-style: italic;
  margin-bottom: .5rem;
  color: #333333;
}

.people__item-descr {
  color: #999999;
  font-size: 15px;
}

.blog {
  background-color: #fff;
}

.blog__wraper {
  padding: 6% 0;
}

.blog__sup-title {
  margin-bottom: 1rem;
}

.blog__title {
  margin: 0 auto 3rem;
}

.blog__article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.blog__item {
  width: 32%;
  opacity: 0;
  -webkit-transition: all .5s ease 0s;
  -o-transition: all .5s ease 0s;
  transition: all .5s ease 0s;
}

.blog__item:first-child {
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
}

.blog__item:nth-child(3) {
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
}

.blog__item._active {
  opacity: 1;
}

.blog__item._active:nth-child(1n) {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

.new__header {
  position: relative;
}

.new__link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.new__img-colums {
  width: 100%;
  padding-bottom: 68%;
  position: relative;
}

.new__img {
  width: 100%;
  height: 100%;
  position: absolute;
}

.new__date-colums {
  display: block;
  width: 20%;
  height: 31%;
  position: absolute;
  background-color: #95e1d3;
  bottom: 4%;
  left: -2%;
  padding: 2% 0;
}

.new__date {
  font-size: 15px;
  font-weight: 300;
  font-style: italic;
  color: #fff;
  text-align: center;
}

.new__date span {
  font-size: 30px;
  color: #fff;
  font-family: "Montserrat";
  font-weight: 700;
  font-style: normal;
}

.new__body {
  padding: 6% 0;
  border-bottom: 1px solid #e5e5e5;
}

.new__title {
  text-transform: uppercase;
  color: #333333;
  font-size: 14px;
  margin-bottom: 1rem;
}

.new__descr {
  font-size: 15px;
  color: #999999;
}

.new__footer {
  padding: 6% 0;
}

.new__bedge {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.new__bedge span {
  font-size: 15px;
  font-weight: 300;
  font-style: italic;
  color: #999999;
  display: block;
}

.new__view {
  margin-right: 1.5rem;
}

.new__view::before {
  content: "\f06e";
  font-family: "Font Awesome 5 Pro";
  font-weight: 900;
  color: #c4eee7;
  margin-right: .4rem;
  font-size: 17px;
}

.new__coment::before {
  content: "\f4ad";
  font-family: "Font Awesome 5 Pro";
  font-weight: 900;
  color: #c4eee7;
  margin-right: .4rem;
  font-size: 17px;
}

.map {
  cursor: pointer;
}

.map--active .map__header {
  display: none;
}

.map--active .map__body {
  display: block;
}

.map__header {
  width: 100%;
  height: 100%;
  padding: 4% 0;
  background-image: url(../img/map/map.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.map__header::before {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.7);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.map__title {
  color: #f38181;
  margin: 0 auto;
  padding-top: 3rem;
}

.map__title::before {
  content: "\f3c5";
  position: absolute;
  font-family: "Font Awesome 5 Pro";
  font-weight: 900;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
      -ms-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
}

.map__body {
  display: none;
}

.map-popap {
  width: 100%;
  height: 100vh;
  position: relative;
}

.map-popap__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.9);
}

.map-popap__content {
  width: 40%;
  height: 60%;
  margin: 0 auto;
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #fff;
}

.map-popap__img-colums {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.map-popap__img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.map-popap__pointer {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.map-popap__pointer i {
  font-size: 50px;
  color: #f38181;
}

.map-popap__close {
  position: absolute;
  top: -40px;
  right: -40px;
  color: #fff;
  font-size: 40px;
  line-height: 40px;
}

.main-footer {
  background-color: #fff;
  position: relative;
  z-index: 1;
}

.main-footer__wraper {
  padding: 4% 0;
}

.main-footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  opacity: 0;
  -webkit-transition: all 1.5s ease 0.3s;
  -o-transition: all 1.5s ease 0.3s;
  transition: all 1.5s ease 0.3s;
}

.main-footer__content._active {
  opacity: 1;
}

.main-footer__feedback {
  width: 35%;
}

.main-footer__feedback-title {
  margin-bottom: 1.5rem;
  font-size: 46px;
  font-family: "Montserrat";
  color: #cccccc;
  font-weight: 700;
  line-height: 1.2;
}

.main-footer__feedback-sub-title {
  margin-bottom: 2rem;
  font-size: 15px;
  color: #999999;
  line-height: 1.6;
  text-align: left;
}

.main-footer__feedback-follows-info {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #e5e5e5;
  font-family: "Montserrat";
  font-size: 14px;
}

.main-footer__feedback-follows-info span {
  font-size: 18px;
  font-weight: 700;
}

.main-footer__feedback-follows-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1rem;
}

.main-footer__feedback-follows-text {
  margin-right: 15px;
}

.main-footer__feedback-follows-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-footer__feedback-follows-item {
  margin: 0 5px;
}

.main-footer__feedback-follows-link {
  color: #95e1d3;
}

.main-footer__feedback-follows-link i {
  font-size: 18px;
}

.main-footer__feedback-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-footer__feedback-form-email {
  border: 1px solid #e7e7e7;
  border-right: 0;
  padding: 1rem 0 1rem 10px;
}

.main-footer__feedback-form-submit {
  cursor: pointer;
  border: 0;
  background-color: #95e1d3;
  color: #fff;
  padding: 1rem 1.5rem;
}

.main-footer__blog {
  width: 33%;
}

.main-footer__blog-title {
  font-family: "Montserrat";
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 3rem;
  color: #333333;
}

.main-footer__blog-list {
  width: 100%;
  margin-bottom: -7%;
}

.main-footer__blog-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 7%;
}

.main-footer__blog-item-header {
  width: 40%;
}

.main-footer__blog-item-img-colums {
  width: 100%;
  padding-bottom: 58%;
  position: relative;
  overflow: hidden;
}

.main-footer__blog-item-img {
  width: 100%;
  height: 100%;
  position: absolute;
}

.main-footer__blog-item-body {
  width: 60%;
  padding-top: 5%;
  padding-left: 10px;
}

.main-footer__blog-item-title {
  margin-bottom: .5rem;
  font-family: "Montserrat";
  font-size: 12px;
  text-transform: uppercase;
}

.main-footer__blog-item-title a {
  color: #333333;
}

.main-footer__blog-item-date {
  font-size: 13px;
  font-weight: 300;
  font-style: italic;
}

.main-footer__instaram {
  width: 25%;
}

.main-footer__instaram-title {
  font-family: "Montserrat";
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 3rem;
  color: #333333;
}

.main-footer__instaram-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 1rem;
}

.main-footer__instaram-item {
  position: relative;
  width: 32%;
  margin-bottom: 1%;
}

.main-footer__instaram-link {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.main-footer__instaram-img-colums {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-bottom: 100%;
}

.main-footer__instaram-img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
}

.main-footer__instaram-more-link {
  font-weight: 300;
  font-style: italic;
  font-size: 13px;
  color: #333333;
}

.main-footer__copywritter-wraper {
  padding: 2% 0;
  border-top: 1px solid #e5e5e5;
}

.main-footer__copywritter-text {
  text-align: center;
  font-family: "Montserrat";
  font-size: 14px;
  color: #000;
}

.main-footer__copywritter-link {
  color: #f49f9f;
}

@media (max-width: 992px) {
  .main-header__item {
    padding: 0 7%;
  }

  .main-header__button {
    width: 30%;
  }
}

@media (max-width: 767px) {
  .title {
    padding-bottom: 0;
  }

  .title::after {
    display: none;
  }

  .main-header__burger {
    display: block;
    width: 30px;
    height: 20px;
    position: relative;
  }

  .main-header__burger span {
    position: absolute;
    background-color: #fff;
    left: 0;
    top: 9px;
    width: 100%;
    height: 2px;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
  }

  .main-header__burger::before,
  .main-header__burger::after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
  }

  .main-header__burger::before {
    top: 0;
  }

  .main-header__burger::after {
    bottom: 0;
  }

  .main-header__burger--active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .main-header__burger--active::before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }

  .main-header__burger--active::after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }

  .main-header__nav {
    display: none;
    width: 100%;
    background: -webkit-gradient(linear, left bottom, left top, from(#fce38a), to(#f38181));
    background: -o-linear-gradient(bottom, #fce38a 0%, #f38181 100%);
    background: linear-gradient(0deg, #fce38a 0%, #f38181 100%);
    position: absolute;
    left: 0;
    top: 0;
    padding-top: 10%;
    width: 100%;
  }

  .main-header__nav--active {
    display: block;
  }

  .main-header__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .main-header__item {
    width: 100%;
    text-align: center;
    padding: 1rem 0;
  }

  .main-header__link {
    font-size: 16px;
  }

  .main-header__footer {
    display: none;
  }

  .services__list {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr .5fr 1fr .5fr 1fr;
    row-gap: 10%;
  }

  .services__list::before {
    display: none;
  }

  .team__card-header:hover .team__card-social-list,
  .team__card-header:focus .team__card-social-list {
    -webkit-transform: translate(-54%, -90%);
        -ms-transform: translate(-54%, -90%);
            transform: translate(-54%, -90%);
  }

  .team__card-social-link {
    width: 45px;
    height: 45px;
  }

  .main-footer__feedback {
    width: 100%;
    margin-bottom: 10%;
  }

  .main-footer__blog {
    width: 50%;
  }

  .main-footer__blog-item-body {
    padding-top: 2%;
  }

  .main-footer__instaram {
    width: 45%;
  }
}

@media (max-width: 576px) {
  .main-header__button {
    width: 40%;
  }

  .about__card-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .about__card-list > li {
    width: 100%;
    margin-bottom: 3%;
  }

  .about__card-link:hover,
  .about__card-link:focus {
    -webkit-transform: translate(0%, 0%);
        -ms-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }

  .about__card-link:hover + .about__card-img-colums,
  .about__card-link:focus + .about__card-img-colums {
    -webkit-transform: translate(0%, 0%);
        -ms-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }

  .services__title {
    margin: 0 auto 2rem;
  }

  .services__list {
    grid-template-columns: 1fr;
    row-gap: 0;
    grid-auto-rows: 1fr;
  }

  .services__list > li {
    margin-bottom: 7%;
  }

  .services__item-title {
    margin-bottom: .5rem;
  }

  .we-do__spoller-img-colums {
    display: none;
  }

  .we-do__spoller-list {
    width: 100%;
  }

  .comments__slider-card {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .comments__card-header {
    margin-top: 5%;
  }

  .comments__card-text {
    margin-bottom: .5rem;
  }

  .team__card-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .team__card-list > li {
    width: 80%;
  }

  .team__card-social-link {
    width: 55px;
    height: 55px;
  }

  .work__gallery-list {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }

  .work__gallery-item--2xrow {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 5;
  }

  .people__item {
    width: 100%;
  }

  .blog__article {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .blog__item {
    width: 90%;
  }

  .main-footer__feedback-title {
    text-align: center;
    margin-bottom: 1rem;
  }

  .main-footer__feedback-sub-title {
    text-align: center;
    margin-bottom: 1rem;
  }

  .main-footer__feedback-form {
    margin: 10% auto 0;
    width: 90%;
  }

  .main-footer__feedback-form-email {
    width: 80%;
  }

  .main-footer__blog {
    width: 100%;
    margin-bottom: 10%;
  }

  .main-footer__blog-title {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 20px;
  }

  .main-footer__instaram {
    width: 100%;
  }

  .main-footer__instaram-title {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 20px;
  }

  .main-footer__instaram-more-link {
    display: block;
    text-align: center;
  }

  .main-footer__copywritter-wraper {
    padding: 4% 0;
  }
}

.webp .main-header__wrapper { background: url(../img/header/bg.webp) center/cover no-repeat; }

.webp .about__card-link span::before { background-image: url(../img/about/icon.webp); }

.webp .desing { background-image: url(../img/desing/bg.webp); }

.webp .we-do__item-header:hover > .we-do__item-button, .webp .we-do__item-header:focus > .we-do__item-button { background-image: url(../img/wedo/ARROW_DOWN-hover.webp); }

.webp .we-do__item-button { background-image: url(../img/wedo/ARROW_DOWN.webp); }

.webp .comments .slick-arrow { background-image: url(../img/wedo/ARROW_SLIDER.webp); }

.webp .comments .slick-arrow.slick-prev { background-image: url(../img/wedo/ARROW_SLIDER.webp); }

.webp .comments .slick-arrow.slick-next { background-image: url(../img/wedo/ARROW_SLIDER--next.webp); }

.webp .team__card-social-link--f { background-image: url(../img/team/facebook.webp); }

.webp .team__card-social-link--f:hover, .webp .team__card-social-link--f:focus { background-image: url(../img/team/facebook-hover.webp); }

.webp .team__card-social-link--t { background-image: url(../img/team/twitter.webp); }

.webp .team__card-social-link--t:hover, .webp .team__card-social-link--t:focus { background-image: url(../img/team/twitter-hover.webp); }

.webp .team__card-social-link--p { background-image: url(../img/team/pinterest.webp); }

.webp .team__card-social-link--p:hover, .webp .team__card-social-link--p:focus { background-image: url(../img/team/pinterest-hover.webp); }

.webp .team__card-social-link--i { background-image: url(../img/team/instagram.webp); }

.webp .team__card-social-link--i:hover, .webp .team__card-social-link--i:focus { background-image: url(../img/team/instagram-hover.webp); }

.webp .people { background-image: url(../img/people/bg.webp); }

.webp .map__header { background-image: url(../img/map/map.webp); }